<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Monoton&family=Share+Tech+Mono&family=Shizuru&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="shortcut icon" href="../assets/favicon/android-chrome-512x512.png">
  <title>Carrito</title>
</head>

<body>
  <header>
    <a href="../index.html"><img id="arriba" src="../assets/img/blancopapelestrecho.png" alt="BlancoPapel Logo"></a>
    <nav>
      <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="../views/productos.html">Productos</a>
          <!-- <ul>
                  <li><a href="#">agendas</a></li>
                  <li><a href="#">apuntes</a></li>
                  <li><a href="#">cuadernillos</a></li>
                  <li><a href="#">impresiones</a></li>
                </ul> -->
        </li>
        <li><a href="../views/nosotros.html">Nosotros</a></li>
        <li><a href="../views/contactos.html">Contactos</a></li>
        <li><a href="#">Carrito</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <p>en construccion...</p>

    <section class="compras">
      <ul>
        <li>
          <img src="../assets/img/agenda1.jpeg" alt="agenda 1">
        </li>
        <li>
          <h3>descripcion, cantidad, $ costo de producto </h3>
        </li>
      </ul>

      <ul>
        <li>
          <img src="../assets/img/agenda2.jpeg" alt="agenda 1">
        </li>
        <li>
          <h3>descripcion, cantidad, $ costo de producto</h3>
        </li>
      </ul>

      <ul>
        <li>
          <img src="../assets/img/agenda3.jpeg" alt="agenda 1">
        </li>
        <li>
          <h3>descripcion, cantidad, $ costo de producto</h3>
        </li>
      </ul>
    </section>

    <section class="totalCompras">
      <ul>
        <li>Total</li>
        <li>A pagar</li>
      </ul>
    </section>

    <div class="carro">
      <a href="../views/carrito.html"><img src="../assets/favicon/carrito/android-chrome-192x192.png" alt=""></a>
    </div>

  </main>

  <footer class="footer">
    <div class="redes">
      <a href="#arriba">Blanco Papel</a>

      <a
        href="https://api.whatsapp.com/send?phone=543518112054&text="
        target="_blank"
        ><img
          src="../assets/favicon/watsapp/favicon-32x32.png"
          alt="whatsapp"
        />
        Whatsapp</a
      >

      <a href="https://www.instagram.com/blancopapel.cba/" target="_blank"
        ><img
          src="../assets/favicon/instagram icons/favicon-32x32.png"
          alt="instagram"
        />
        Instagram</a
      >

      <a href="./views/contactos.html"
        ><img src="../assets/favicon/Mail_icons.png" alt="mail" /> Mail</a
      >
    </div>
    <ol>
      <h2>Copyright © 2022 Blanco Papel</h2>
      <h2>Powered by Lerda Fernando ®</h2>
    </ol>
  </footer>
</body>

</html>