<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&family=Share+Tech+Mono&family=Shizuru&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../assets/favicon/android-chrome-512x512.png">
    <title>Contactos</title>
</head>

<body>
    <header>
        <a href="../index.html"><img id="arriba" src="../assets/img/blancopapelestrecho.png" alt="BlancoPapel Logo"></a>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../views/productos.html">Productos</a>
                    <!-- <ul>
                  <li><a href="#">agendas</a></li>
                  <li><a href="#">apuntes</a></li>
                  <li><a href="#">cuadernillos</a></li>
                  <li><a href="#">impresiones</a></li>
                </ul> -->
                </li>
                <li><a href="../views/nosotros.html">Nosotros</a></li>
                <li><a href="#">Contactos</a></li>
                <li><a href="../views/carrito.html">Carrito</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Escribinos</h1>

        <form action="">
            <fieldset>
                <div>
                    <label for="nombre">Completa tu nombre</label>
                    <input type="text" name="nombre" placeholder=" Nombre">
                </div><br>

                <div>
                    <label for="apellido">Completa tu apellido</label>
                    <input type="text" name="apellido" placeholder=" Apellido">
                </div><br>

                <div>
                    <label for="email">escribe tu email *</label>
                    <input type="email" name="email" placeholder=" email" required id="">
                </div><br>

                <div>
                    <label for="comentario">Escribe un consulta o comentario</label><br><br>
                    <textarea name="comentario" id="" cols="50" rows="10"></textarea>
                </div><br>

                <div>
                    <label for="pais">Elige tu pais</label>
                    <select name="pais" id="">
                        <option value="argentina">ARGENTINA</option>
                        <option value="uruguay">URUGUAY</option>
                        <option value="colombia">COLOMBIA</option>
                        <option value="chile">CHILE</option>
                        <option value="paraguay">PARAGUAY</option>
                        <option value="brasil">BRASIL</option>
                        <option value="otro pais">OTRO PAIS</option>
                    </select>
                </div><br>

                <div>
                    <input type="submit" value="ENVIAR">
                </div><br>

                <div>
                    <input type="reset" value="BORRAR">
                </div><br>

            </fieldset>
        </form>
    </main>

    <div class="carro">
        <a href="../views/carrito.html"><img src="../assets/favicon/carrito/android-chrome-192x192.png" alt=""></a>
    </div>

    </main>

    <footer class="footer">
        <div class="redes">
          <a href="#arriba">Blanco Papel</a>
  
          <a
            href="https://api.whatsapp.com/send?phone=543518112054&text="
            target="_blank"
            ><img
              src="../assets/favicon/watsapp/favicon-32x32.png"
              alt="whatsapp"
            />
            Whatsapp</a
          >
  
          <a href="https://www.instagram.com/blancopapel.cba/" target="_blank"
            ><img
              src="../assets/favicon/instagram icons/favicon-32x32.png"
              alt="instagram"
            />
            Instagram</a
          >
  
          <a href="./views/contactos.html"
            ><img src="../assets/favicon/Mail_icons.png" alt="mail" /> Mail</a
          >
        </div>
        <ol>
          <h2>Copyright © 2022 Blanco Papel</h2>
          <h2>Powered by Lerda Fernando ®</h2>
        </ol>
      </footer>
</body>

</html>